/*CSS for header*/
.col-md-12{
    padding:0;
}

.navbar-brand{
    width: 150px;
    height: 90px;
}
.img-fluid{
    max-width: 100%;

}
.navbar-nav{
    padding: 0;
}

/*Icon*/
.search-icon{
    margin-top: 5px;
    margin-left: 5px;
    padding-right: 30px;
    max-width: 100%;
    color: white;
}
.bell-icon{
    margin-bottom: 5px;
    padding-right: 30px;
    max-width: 100%;
    color: white;
}
.user-icon{
    margin-bottom: 5px;
    padding-right: 6px;
    max-width: 100%;
    color: white;
}