/*CSS for header*/
.col-md-12{
    padding: 0; 
}

.navbar{
    padding: 0;
}

.navbar-brand{
    width: 200px;
    margin: 0;
}

.image-fluid{
    max-width: 90%;
}

.anh .col-md-3{
    display: flex;
}
.btn-logout{
    background-color: red;
    padding: 7px;
    border-radius: 5px;
    margin-left: 4px;
    border: 0;
}